<div type="text" class="calcOutput">{{result}}</div>

<div>
    <button type="button" (click)="pressNum(7)" class="calcMain">7</button>
    <button type="button" (click)="pressNum(8)" class="calcMain">8</button>
    <button type="button" (click)="pressNum(9)" class="calcMain">9</button>
    <button type="button" (click)="pressOperator('/')" class="calcMain" >/</button>
</div>

<div>
    <button type="button" (click)="pressNum(4)" class="calcMain">4</button>
    <button type="button" (click)="pressNum(5)" class="calcMain">5</button>
    <button type="button" (click)="pressNum(6)" class="calcMain">6</button>
    <button type="button" (click)="pressOperator('x')" class="calcMain" >x</button>
</div>

<div>
    <button type="button" (click)="pressNum(1)" class="calcMain">1</button>
    <button type="button" (click)="pressNum(2)" class="calcMain">2</button>
    <button type="button" (click)="pressNum(3)" class="calcMain">3</button>
    <button type="button" (click)="pressOperator('-')" class="calcMain" >-</button>
</div>

<div>
    <button type="button" (click)="clear()" class="calcMain">C</button>
    <button type="button" (click)="pressNum(0)" class="calcMain">0</button>
    <button type="button" (click)="useFormula()" class="calcMain" >=</button>
    <button type="button" (click)="pressOperator('+')" class="calcMain" >+</button>
</div>



